/SampleApp/Bin
/SampleApp/obj
/SampleApp/*.user
/Lib/Bin
/Lib/obj
/CacheImage-UWP/bin
/CacheImage-UWP/obj
/SampleApp-UWP/obj
/SampleApp-UWP/bin
/SampleApp-UWP/*.pfx
/SampleApp-UWP/*.json
/SampleApp-UWP/*.user
